p{padding: 0;margin: 0;}
ul,li{list-style: none;padding: 0;margin: 0;}
input,textarea{outline: none;}
.gray{background:#ebebeb;color: #505050;font-family: "华文细黑","Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;padding-top: 80px;}
.btn-default{background:#f4645f;border: 1px solid #f4645f;color: #fff;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.btn-default:hover{border: 1px solid #303030;background: #303030;color: #fff;}
.clearfix:before,.clearfix:after{clear:both;overflow:hidden;content:"";display:block;zoom:1;visibility:hidden}
.ellipsis_text{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.mr5{margin-right:5px}
.mb10{margin-bottom:10px}
.mb5{margin-bottom:5px}
.mb20{margin-bottom:20px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.p10{padding:10px}
.pt40{padding-top:40px}
.pb10{padding-bottom:10px}
.pb5{padding-bottom:5px}
.pt10{padding-top:10px}
.m10{margin:10px}
.te{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.te2{overflow:hidden;text-overflow:ellipsis; display:-webkit-box; display:-moz-box; display:-o-box; display:-ms-box; display:box; -webkit-line-clamp:3; -moz-line-clamp:3; -o-line-clamp:3; -ms-line-clamp:3; line-clamp:3; -webkit-box-orient:vertical; -moz-box-orient:vertical; -o-box-orient:vertical; -ms-box-orient:vertical; box-orient:vertical;
}
#returntop{width: 45px;height: 45px;position: fixed;z-index: 999;background: url(../img/returntop_icon.png) no-repeat;background-size: cover;right: 40px;bottom: 200px;opacity: 0;-webkit-transform: scale(0) translateY(-50px);transform: scale(0) translateY(-50px);transition: .3s cubic-bezier(0.7, 1, 0.7, 1);cursor: pointer;}
#returntop:hover{background: url(../img/returntop_hover_icon.png) no-repeat;background-size: cover;}
#returntop.show{display: block;opacity: 1;-webkit-transform: scale(1) translateY(0);transform: scale(1) translateY(0);}
/*翻页css*/
.pagination{margin: 30px auto;}
.pagination>li>a, .pagination>li>span{color: #93999f;font-family: arial;transition: .2s ease-out;margin-right: 8px;padding: 8px 15px;border-radius: 2px;border: 1px solid #fff;}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{border: 1px solid #303030;background: #303030;color: #fff;}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{border: 1px solid #fff;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background:#f4645f;border: 1px solid #f4645f;}
/*首页动画*/
@-webkit-keyframes gobtnTrans{
	0%{-webkit-transform: translateY(0px);}
	100%{-webkit-transform: translateY(10px);}
}
@keyframes gobtnTrans{
	0%{transform: translateY(0px);}
	100%{transform: translateY(10px);}
}
@-webkit-keyframes textfadeIn {
  	0% {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);}
  	100%{opacity: 1;-webkit-transform: none;}  
}
@keyframes textfadeIn {
  	0% {opacity: 0;transform: translate3d(0, 100%, 0);}
  	100%{opacity: 1;transform: none;}  
}
@-webkit-keyframes bannerShow{
	0%{opacity: 0;-webkit-transform: scale3d(.3, .3, .3);}
	100%{opacity: 1;-webkit-transform: none;}
}
@keyframes bannerShow{
	0%{opacity: 0;transform: scale3d(.3, .3, .3);}
	100%{opacity: 1;transform: none;}
}
@-webkit-keyframes logoTrans{
	0%{-webkit-transform: translateY(0px);}
	100%{-webkit-transform: translateY(-12px);}
}
@keyframes logoTrans{
	0%{transform: translateY(0px);}
	100%{transform: translateY(-12px);}
}
@-webkit-keyframes logoTrans{
	0%{-webkit-transform: translateY(0px);}
	100%{-webkit-transform: translateY(-12px);}
}
@keyframes musicIcon{
   0%{transform: scale(0);opacity: 0;}
   50%{transform: scale(1);opacity: .5;}
   100%{transform: scale(1);opacity: 1;}
}
@-webkit-keyframes musicIcon{
   0%{-webkit-transform: scale(0);opacity: 0;}
   50%{-webkit-transform: scale(1);opacity: .5;}
   100%{-webkit-transform: scale(1);opacity: 1;}
}
@keyframes musicPlay{
	0%{transform: rotate(0);}
	100%{transform: rotate(360deg);}
}
/*底部css*/
.ft{background: #202020;color: #959595;font-size: 16px;margin-top: 60px;}
.ft .ft_top{padding-top: 15px;}
.ft .ft_top dl dt{font-size: 18px;color: #fff;}
.ft .ft_top dl dd,.ft .ft_top .ft_text{line-height: 30px;}
.ft .ft_bottom{background: #111;padding-top:15px;padding-bottom: 15px;color: #555555;border-top: 1px solid #303030;font-size: 14px;}
/*头部导航css*/
.hd_nav{min-height:80px;box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);border: none;margin-bottom: 0;background: #fff;/*overflow: hidden;*/}
.hd_nav .navbar-brand{color:#f4645f;font-weight: 700;font-size: 20px;width: 126px;height: 126px;position: absolute;top: -20px;border-radius:63px;text-align: center;padding: 0;line-height: 100px;transition: 1s cubic-bezier(0.7, 1, 0.7, 1);}
.hd_nav .navbar-brand:hover{-webkit-transform: scale(.95);transform: scale(.95);}
.hd_nav .navbar-brand em{width: 100%;height: 100%;display: block;position: absolute;top: 0;left: 0;box-shadow: 0 5px 6px rgba(0,0,0,0.1);border-radius: 63px;}
.hd_nav .navbar-brand span{-webkit-animation-play-state: paused;animation-play-state: paused;}
.hd_nav .navbar-brand span{padding: 0 1px;}
.hd_nav .navbar-brand span:nth-of-type(1){color: #f4645f;font-size: 20px;-webkit-animation: logoTrans .4s infinite alternate;animation: logoTrans .4s infinite alternate;}
.hd_nav .navbar-brand span:nth-of-type(2){color: #f5716d;font-size: 13px;-webkit-animation: logoTrans .4s .15s infinite alternate;animation: logoTrans .4s .15s infinite alternate;}
.hd_nav .navbar-brand span:nth-of-type(3){color: #fc9f98;font-size: 18px;-webkit-animation: logoTrans .4s .3s infinite alternate;animation: logoTrans .4s .3s infinite alternate;}
.hd_nav .navbar-brand span:nth-of-type(4){color: #fc9b92;font-size: 15px;-webkit-animation: logoTrans .4s .45s infinite alternate;animation: logoTrans .4s .45s infinite alternate;}
.hd_nav .navbar-brand span:nth-of-type(5){color: #f26c69;font-size: 24px;-webkit-animation: logoTrans .4s .6s infinite alternate;animation: logoTrans .4s .6s infinite alternate;}
.hd_nav .navbar-brand span:nth-of-type(6){color: #fa9c94;font-size: 16px;-webkit-animation: logoTrans .4s .75s infinite alternate;animation: logoTrans .4s .75s infinite alternate;}
.hd_nav .navbar-brand span:nth-of-type(7){color: #fc9f98;font-size: 18px;-webkit-animation: logoTrans .4s .9s infinite alternate;animation: logoTrans .4s .9s infinite alternate;}
.hd_nav .navbar-brand span:nth-of-type(8){-webkit-animation: logoTrans .4s 1.05s infinite alternate;animation: logoTrans .4s 1.05s infinite alternate;}
.hd_nav .navbar-brand:hover span{-webkit-animation-play-state: running;animation-play-state: running;}
.hd_nav .navbar-brand strong{position: absolute;bottom: 0;left: 0;right: 0;top:30px;color: #EA615C;}
.hd_nav .navbar-nav>li>a{font-size: 16px;color:#505050;padding-left: 25px;padding-right: 25px;transition: .3s;background: #fff;border-radius: 4px;}
.hd_nav .navbar-nav>li>a:hover{color: #f4645f;}
.hd_nav .nav .open>a, .hd_nav .nav .open>a:focus, .hd_nav .nav .open>a:hover{color: #f4645f;background:#fff;}
.hd_nav .dropdown-menu{box-shadow: 0 6px 12px rgba(0,0,0,.6);border: none;top: 130%;}
.hd_nav .dropdown-menu>li>a{line-height:25px;color: #505050;font-size: 14px;transition: .2s;}
.hd_nav .dropdown-menu>li>a:focus,.hd_nav .dropdown-menu>li>a:hover{color: #fff;background: #f4645f;text-indent: 5px;}
.hd_nav .navbar-form{background: #fff;}
.hd_nav .navbar-form .btn-default{background:#f4645f;border: 1px solid #f4645f;color: #fff;}
.hd_nav .nav_log{margin-top: 15px;}
.hd_nav .nav_log li{float: left;line-height: 40px;}
.hd_nav .nav_log li a{padding: 10px 2px;color: #505050;background: none;transition: .2s;}
.hd_nav .nav_log li a:hover{color: #f4645f;}
/*小屏幕（平板，大于等于 768px）*/
@media all and (min-width: 768px){
	.hd_nav .navbar-header{margin-top: 15px;}
	.hd_nav .navbar-nav{margin-top: 15px;}
	.hd_nav .navbar-form{margin-top: 23px;}
}
/* 超小屏幕（手机，小于 768px） */
@media all and (max-width: 768px){
	.hd_nav .navbar-form{margin-bottom: 0px;}
	.hd_nav .navbar-nav{margin-top:0px;}
	.banner_bg .bannner_show:nth-of-type(2),.banner_bg .bannner_show:nth-of-type(3),.banner_bg .bannner_show:nth-of-type(4){display: none;}
}

/*切换sm菜单*/
.navbar-toggle{border: 1px solid #f4645f;}
.navbar-toggle .icon-bar{background:#f4645f;}
/*banner css*/
.banner_wrap{padding: 0;overflow: hidden;}
.banner_wrap .banner_bg{width: 100%;height: 580px;background: url(http://blog.img.625buy.com/bg2.jpg) no-repeat center bottom;position: relative;margin-bottom: 20px;background-size: cover;}
.banner_bg .banner_text{text-align: center;color: #fff;font-size: 22px;line-height: 30px;opacity: 0;}
.banner_bg .banner_text:nth-child(1){line-height: 80px;font-weight: 700;font-size: 24px;margin-top: 2%;-webkit-animation: textfadeIn 1s .1s both;animation: textfadeIn 1s .1s both;}
.banner_bg .banner_text:nth-child(2){-webkit-animation: textfadeIn .6s 1s both;animation: textfadeIn .6s 1s both;}
.banner_bg .banner_text:nth-child(3){-webkit-animation: textfadeIn .6s 2.5s both;animation: textfadeIn .6s 2.5s both;}
.banner_bg .banner_text:nth-child(4){-webkit-animation: textfadeIn .6s 4s both;animation: textfadeIn .6s 4s both;}
.banner_bg .banner_text .music_icon{width: 32px;height: 32px;display: inline-block;background: url(../img/music_icon.png) no-repeat;cursor: pointer;box-shadow: 0 0 10px rgba(255,255,255,.4);border-radius: 16px;-webkit-animation: musicIcon 2s 5 alternate;animation: musicIcon 2s 5 alternate;}
.banner_bg .banner_text .music_icon.play{animation:musicPlay 2s infinite linear;}
#music{display: none;}
.banner_bg .bannner_show{padding-left: 5px;padding-bottom: 5px;animation: bannerShow 1s;margin-top: 2%;}
@media all and (min-height:768px) and (max-height:1024px) {
	margin-top: 12%;
}
@media all and (min-height:1024px) {
	margin-top: 17%;
}
.banner_bg .bannner_show .banner_img{width: 100%;background: rgba(255,255,255,.4);padding: 10px;border-radius: 4px;}
.banner_bg .bannner_show a{text-decoration: none;}
.banner_bg .bannner_show .banner_img img{width: 100%;height:180px;border-radius: 4px;margin-bottom: 10px;margin: 0 auto;display: block;}
.banner_bg .bannner_show .img_text{text-align: center;line-height: 30px;color:#505050;}
.banner_bg .banner_bottom{width: 100%;position: absolute;left: 0;bottom: 0;right: 0;height: 16%;max-height: 180px;background: url(../img/tlt-rep.png) repeat-x;display: table;}
.banner_bg .banner_bottom .banner_tt{color: #fff;font-size: 20px;text-align: center;display: table-cell;vertical-align: middle;}
.banner_bg .banner_bottom .gobtn{width: 64px;height: 64px;display: inline-block;background: url(../img/arrows_down.png) no-repeat;position: absolute;left: 50%;margin-left: -32px;top: -32px;cursor: pointer;-webkit-animation: gobtnTrans .5s infinite alternate linear;animation: gobtnTrans .5s infinite alternate linear;}
.article_tt{font-size: 28px;line-height: 60px;text-align: center;}
.citem{height: 278px;margin-bottom: 20px;padding-left: 10px;padding-right: 10px;}
.citem .citem_card{display: block;width: 100%;height: 278px;background: #fff;overflow: hidden;position: relative;box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);transition:.4s cubic-bezier(0.7, 1, 0.7, 1);}
.citem .citem_card:hover{box-shadow: 0 5px 20px rgba(0,0,0,.3);}
/*.citem .citem_card:hover .item_bottom{height: 220px;transition: .4s cubic-bezier(0.7, 1, 0.7, 1);}*/
.citem .citem_card:hover .item_bottom .item_desc{display: block;}
.citem .item_top{position: relative;height: 202px;overflow: hidden;width: 100%;}
.citem .item_top img{width: 100%;vertical-align: top;}
.citem .item_bottom{height: 100px;padding: 0 20px;position: absolute;left: 0;bottom: 0;background: url(../img/trans_bg.png) no-repeat top center;background-size: cover;width: 100%;box-sizing: border-box;}
.citem .item_bottom .item_tt{line-height: 32px;color: #07111b;font-size: 16px;font-weight: 700;margin-top: 24px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
/*.citem .item_bottom .item_tt:hover{color: #f4645f;}*/
.citem .item_bottom .item_desc{display: none;margin-top: 12px;color: #93999f;height: 48px;line-height: 24px;word-wrap:break-word;word-break: break-all;overflow: hidden;}
.citem .item_bottom .item_info{position: absolute;bottom: 20px;width: 85%;}
.citem .item_bottom .item_info span{color: #93999f;line-height: 20px;font-size: 12px;}

/*第二种卡片形式*/
.citem1{margin-bottom: 20px;padding-left: 10px;padding-right: 10px;}
.citem1 .citem1_card{display: block;width: 100%;background: #fff;overflow: hidden;position: relative;box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);text-decoration: none;}
.citem1 .item_top img{width: 100%;}
.citem1 .item_bottom{padding:0 20px 20px;position: relative;}
.citem1 .item_bottom .item_tt{color: #07111b;font-size: 16px;font-weight: 700;line-height: 32px;}
.citem1 .item_bottom .item_tt:hover{color: #f4645f;}
.citem1 .item_bottom .item_info span{color: #93999f;line-height: 20px;font-size: 12px;}
.citem1 .item_overlay{position: absolute;top: 0;left:0;right: 0;bottom: 0;}
.citem1 .item_overlay:before, .citem1 .item_overlay:after{position: absolute; top: 20px;left: 20px;right: 20px;bottom: 20px;z-index: 2;content: " ";opacity: 0;transition: .6s cubic-bezier(0.7, 1, 0.7, 1);}
.citem1 .item_overlay:before{border-top: 1px solid #fff;border-bottom: 1px solid #fff;-webkit-transform: scale(0,1);transform: scale(0,1);}
.citem1 .item_overlay:after{border-left: 1px solid #fff;border-right: 1px solid #fff;-webkit-transform: scale(1,0);transform: scale(1,0);}   
.citem1:hover .item_overlay:before,.citem1:hover .item_overlay:after{opacity: 1;transition: .6s cubic-bezier(0.7, 1, 0.7, 1);-webkit-transform: scale(1,1);transform: scale(1,1);}  
.citem1 .item_overlay .item_hover{position: absolute;top: 0;left: 0;right: 0;bottom:0;z-index: 1;opacity: 0;transition: .4s cubic-bezier(0.7, 1, 0.7, 1);}  
.citem1 .item_overlay .item_hover:before{position: absolute;top: 0;left: 0;right: 0;height: 0;background: rgba(52, 52, 60, 0.3);content: '';}
.citem1 .item_overlay .item_hover img{width: auto;height: 100%;opacity: 0;visibility: hidden;}
.citem1 .item_overlay .item_overlay_bottom{padding:0 20px 20px;opacity: 0;-webkit-transform: translate3d(-20%, 0, 0);transform: translate3d(-20%, 0, 0);transition: .6s cubic-bezier(0.7, 1, 0.7, 1);color: #fff;}
.citem1 .item_overlay .item_overlay_bottom .item_tt{font-size: 16px;font-weight: 700;line-height: 32px;}
.citem1:hover .item_overlay:before,.citem1:hover .item_overlay:after{opacity: 1;transition: .6s cubic-bezier(0.7, 1, 0.7, 1);-webkit-transform: scale(1,1);transform: scale(1,1);}  
.citem1:hover .item_overlay .item_hover{opacity: 1;transition: .4s cubic-bezier(0.7, 1, 0.7, 1);} 
.citem1:hover .item_overlay .item_hover img{opacity: 1;visibility: visible;}   
.citem1:hover .item_overlay .item_overlay_bottom{opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);transition: .6s cubic-bezier(0.7, 1, 0.7, 1);position: absolute;left: 20px;bottom: 20px;right: 20px;z-index: 2;}
/*第三种卡片形式*/
.citem2{margin-bottom: 20px;padding-left: 10px;padding-right: 10px;}
.citem2 .citem2_card{display: block;width: 100%;background: #fff;overflow: hidden;position: relative;box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);text-decoration: none;padding-bottom: 10px;}
.citem2 .item_top{width: 130px;height: 130px;margin: 20px auto 5px;box-shadow: 0 0 10px rgba(0,0,0,.3);border-radius: 70px;padding: 5px;transition:.6s cubic-bezier(0.7, 1, 0.7, 1);}
.citem2:hover .item_top{transform: scale(1.05);}
.citem2 .item_top img{width: 100%;height:100%;border-radius: 70px;}
.citem2 .item_bottom{padding: 0 20px;}   
.citem2 .item_bottom .item_tt{color: #07111b;font-size: 14px;line-height: 24px;text-align: center;transition: .2s;}
.citem2 .item_bottom .item_tt:hover{color:#f4645f;}
.citem2 .item_bottom .item_desc{height: 90px;line-height: 28px;color: #93999f;word-wrap:break-word;word-break: break-all;}
.citem2 .item_bottom .item_desc:hover{text-decoration: underline;}
/*第四卡片形式*/
.recommend{margin-bottom: 20px;padding-left: 10px;padding-right: 10px;}
.recommend .recommend_item{background: #fff;box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);}
.recommend .recommend_tt{line-height: 50px;text-align: center;font-size: 14px;color: #07111b; border-bottom: 1px solid #E1E1E1;}
.recommend .recommend_list{line-height: 40px;padding: 0 20px 20px;}
.recommend .recommend_list a{line-height: 40px;font-size: 14px;color: #666;display:block;transition: .2s cubic-bezier(0.7, 1, 0.7, 1);text-decoration: none;}
.recommend .recommend_list a:hover{margin-left:5px;text-decoration: underline;}
.recommend .recommend_list span{width: 20px;height: 20px;background:#999;color: #fff;font-size:14px;text-align: center;display: inline-block;border-radius: 4px;vertical-align: middle;margin-right: 10px;line-height: 20px;}
.recommend .recommend_list time{color: #93999f;font-size: 12px;display: none;}
.recommend .recommend_list li:nth-child(1) span,.recommend .recommend_list li:nth-child(2) span,.recommend .recommend_list li:nth-child(3) span{background: #f4645f;}
/*list css*/
.position{padding: 20px 0px;font-size: 16px;}
.position .home_icon{width: 18px;height: 18px;display: inline-block;background: url(../img/home_icon.png) no-repeat;background-size: cover;vertical-align: middle;margin-right: 10px;}
.position a{color: #505050;text-decoration: none;margin: 0 10px;}
.position span{margin: 0 10px;}
.position a:hover{color:#f4645f;}
.category{background: #fff;padding: 20px;}
.category.widget .widget_tt{padding-left: 10px;font-weight: 700;margin-bottom: 0;}
.category .category_item{padding:15px;border-bottom: 1px solid #edf1f2;}
.category .category_item:nth-child(4){border: none;}
.category .category_item .category_type{color: #93999f;width: 60px;display: inline-block;}
.category .category_item li{margin: 0 10px;float: left;}
.category .category_item li a{color: #07111b;padding: 5px;text-decoration: none;transition: .2s ease;}
.category .category_item li a.active,.category .category_item li a:hover{color: #fff;background: #f4645f;border-radius: 2px;}
.sidebar .widget{background: #fff;padding: 10px 30px;margin-bottom: 35px;}
.widget .widget_tt{color: #07111b;font-size: 18px;border-bottom: 1px solid #ebebeb;line-height: 40px;margin: 0 0 20px 0;position: relative;}
.widget .widget_tt:after{content: '';width: 90px;height: 1px;background: #f4645f;position: absolute;left: 0;bottom: -1px;}
.widget .tag_cloud a{border: 1px solid #ebebeb;padding: 3px 8px;margin: 0 10px 10px 0;display: inline-block;color: #93999f;transition: .2s ease;border-radius: 4px;}
.widget .tag_cloud a:hover{color: #fff;border: 1px solid #f4645f;background: #f4645f;text-decoration: none;}
/*details*/
.main_ct{background-color: #fff;padding: 20px;}
.main_ct .detail_hd {border-bottom: 1px solid #eee;margin-bottom: 20px; padding: 25px 0;text-align: center;}
.detail_hd  .detail_tt{font-size: 26px;line-height: 35px;}
.detail_hd  .detail_info span{color: #999;margin-right: 20px;line-height: 35px;}
.detail_ct p{margin-bottom: 20px;word-wrap: break-word;font-size: 14px;line-height: 25px;}
.detail_ct .u_left_tt{border-bottom: 1px solid #eee;margin-bottom: 20px;line-height: 35px;}
.detail_ct .u_left_tt strong,.m-relates .u-relates-tt strong,.comment .u-comment-tt strong{font-size: 16px;}
.main_ct .share{font-size: 16px;margin: 15px 0px;}
.main_ct .share span{font-size: 16px;float: left;margin-right: 10px;}
.main_ct .share a{background-image: url(../img/share.png);margin: 0px 5px;display: inline-block;height: 24px;}
.main_ct .share a.bds_qzone{background-position: 0 -65px;}
.main_ct .share a.bds_tsina{background-position: 0 0;}
.main_ct .share a.bds_weixin{background-position: 0 -32px;}
.main_ct .share a.bds_tqq{background-position: 0 -163px;}
.main_ct .share a.bds_sqq{background-position: 0 -98px;}
.main_ct .share a.bds_renren{background-position: 0 -131px;}
.main_ct .m-relates .u-relates-tt,.main_ct .comment .u-comment-tt{border-bottom: 1px solid #eee;margin-bottom: 20px; padding: 25px 0;}
.main_ct .m-relates ul li a {line-height: 35px;color: #777;font-size: 14px;}
.main_ct .m-relates ul li a:hover{color: #16d38a;text-decoration: underline;}
.comment{width: 90%;margin: 0 auto 10px;text-align: right;}
.comment .message{width: 100%;height:100px;border: 1px solid #ebebeb;resize: none;border-radius: 4px;padding: 10px;box-shadow: 0 0 2px #ebebeb inset;margin-bottom: 10px;}
.comment .message:hover{box-shadow: 0 0 5px #ebebeb;}
/*留言板列表css*/
.messageList ul{border-left: 2px solid #e8c4c2;margin-left: 100px;height: 0;transition: 1s;}
.messageList ul li{-webkit-perspective: 2000px;perspective: 2000px;}
.messageList ul li .listbox{-webkit-transform: rotateY(90deg);transform: rotateY(90deg);-webkit-transform-style:preserve-3d;transform-style:preserve-3d;transform-origin: left 39px;-webkit-transform-origin: left 39px;padding: 20px 0 0 35px;transition:.6s cubic-bezier(0.280, 0.695, 0.580, 1.450);opacity: 0;}
.messageList ul li .listbox .userimg{width: 60px;height: 60px;display: block;position: absolute;top: 8px;left: -94px;box-shadow: inset 0 3px 10px rgba(0,0,0,0.1),0 3px 5px rgba(0,0,0,0.1);border-radius: 30px;}
.messageList ul li .listbox .userimg img{width: 100%;height:100%;border-radius: 30px;}
.messageList ul li .listbox .arrows_icon{width: 32px;height: 32px;display: inline-block;position: absolute;top: 22px;left: -14px;background: url(../img/arrows_left.png) no-repeat;background-size: cover;transform: rotate(180deg);}
.messageList ul li .listbox .listitem{border-radius: 4px;width: 60%;border: 1px solid #ebebeb;padding: 0 10px;background: linear-gradient(#fff 70%,#e8c4c2);box-shadow:0 3px 7px rgba(0,0,0,0.1);transition: box-shadow .5s;}
.messageList ul li .listbox .listitem:hover{box-shadow: 0 6px 10px 2px rgba(0,0,0,0.2);}
.messageList ul li .listbox .messagehd{border-radius: 4px 4px 0 0;border-bottom: 1px solid #ebebeb;padding: 15px;}
.messageList ul li .listbox .messagehd .username{color:#07111b;font-size: 16px;margin-right: 10px;}
.messageList ul li .listbox .messagehd .time{color: #93999f;}
.messageList ul li .listbox .messagecon{word-break:break-all;word-wrap: break-word;padding: 10px;line-height: 25px;}
.messageList ul li .listbox .listitem.reply{margin-top:10px;position: relative;-webkit-transform-origin:center -8px;transform-origin:center -8px;-webkit-transform: rotateX(-180deg);transform: rotateX(-180deg);opacity: 0;transition:.6s cubic-bezier(0.280, 0.695, 0.580, 1.450);}
.messageList ul li .listbox .listitem.reply .triangle_icon{position: absolute;width: 0;height: 0;  border-width: 8px;border-style: dashed dashed solid;border-color: transparent transparent #e8c4c2; font-size: 0;line-height: 0;top: -16px;left: 100px;}
/*关于我们css*/ 
.about_top{margin: 20px 0 100px;}
.about_top .about_nav{border-bottom: 3px solid #fff;margin-top: -60px;}
.about_top a{display: block;border-radius: 50%;padding: 5px;box-shadow: 0 0 10px rgba(0,0,0,.3);margin: 0 auto;position: relative;}
.about_top a span{display: block;background: rgba(255,255,255,.4);position: absolute;top: 5px;bottom: 0;right: 0;left:5px;border-radius: 50%;text-align: center;color: #fff;font-size: 16px;font-weight: 700;opacity: 0;transition:.5s;-webkit-transform: scale(0);transform: scale(0);overflow: hidden;}
.about_top a:hover span,.about_top a.active span{opacity: 1;-webkit-transform: scale(1);transform: scale(1);}  
.about_top a img{border-radius: 50%;}    
@media all and (min-width:1170px) {
	.about_top a{width: 150px;height: 150px;}
	.about_top a span{width:140px;height: 140px;line-height: 140px;}
	.about_top a img{width:140px;height:140px;}   
}
@media all and (min-width:970px) and (max-width:1170px) {
	.about_top a{width: 130px;height: 130px;}
	.about_top a span{width:120px;height: 120px;line-height: 120px;}
	.about_top a img{width:120px;height:120px;}   
}
@media all and (min-width:750px) and (max-width:970px){
	.about_top a{width: 100px;height: 100px;}
	.about_top a span{width:90px;height: 90px;line-height: 90px;}
	.about_top a img{width:90px;height:90px;}   
}
@media all and (max-width:750px){
	.about_top{margin: 20px 0 20px;}
	.about_top .about_nav{display: none;}
	.about_top a{display:none;}
	.about_top .col-sm-3:nth-of-type(3) a{display: block;width: 100px;height: 100px;}
	.about_top a span{width:90px;height: 90px;line-height: 90px;}
	.about_top a img{width:90px;height:90px;} 
	.about .widget{display: none;}
	.about .widget:nth-of-type(3){display: block;opacity: 1;left: 0;}
	.about .widget:nth-of-type(3) .about_div{width: 100%;} 
}
.about_wrap{width:100%;height:500px;-webkit-perspective:800px;perspective: 800px;padding: 0px;overflow: hidden;}
.about_wrap .about{position: relative;-webkit-transform-style: preserve-3d;-webkit-transform-origin: center center 400px;transition:.5s;width: 100%;height: 100%;}
.about .widget{width: 100%;height: 100%;position: absolute;top:0;left:-100%;right: 0;opacity: 0;}
.about .widget.active{left: 0;opacity: 1;-webkit-transform: rotateY(0deg);}
.about .widget.next{left:100%;-webkit-transform-origin: left;-webkit-transform: rotateY(-90deg);opacity: 1;}
.about .widget.prev{left:-100%;-webkit-transform-origin: right;-webkit-transform: rotateY(90deg);opacity: 1;}
.about .widget .about_div{background:rgba(255,255,255,.8);padding: 20px;box-shadow: -2px 2px 10px rgba(0,0,0,.2),2px -2px 5px rgba(0,0,0,.2);width:65%; margin: auto;height: 100%;}
.about .widget .about_ct{height: 380px;overflow: auto;} 
.about .widget .about_ct p{border-bottom: 1px dashed #e8c4c2;line-height: 40px;}
.about .widget .about_ct p:before{width: 6px;height: 6px;background: #f4645f;border-radius: 3px;content: '';display: inline-block;margin-right: 8px;vertical-align: middle;}
.about .widget:nth-of-type(1) .about_ct{background: url(../img/banner1.jpg) no-repeat;background-size: cover;}
.about .widget:nth-of-type(2) .about_ct{background: url(../img/banner2.jpg) no-repeat;background-size: cover;}
.about .widget:nth-of-type(3) .about_ct{background: url(../img/banner3.jpg) no-repeat;background-size: cover;}
/*.about .widget:nth-of-type(4) .about_ct{background: url(../img/banner4.jpg) no-repeat;background-size: cover;}*/
.about .widget:nth-of-type(3) .about_ct p{padding-left: 10px;}
/*注册*/
.reg{padding: 20px;}
.reg .widget_tt span{font-size: 14px;color: #93999f;}
.reg .widget_tt .log_btn{color:#f4645f;}
.reg .eye_bg{width: 155px;height: 155px;background: url(../img/header.png) no-repeat 0 0;position: relative;background-size: cover;}
.reg .eye_bg i.eye{width: 12px;height: 14px;display: block;position: absolute;top: 74px;left: 54px;background: url(../img/eye.png) no-repeat 0 0;}
.reg .eye_bg i.eye:nth-of-type(2){left:88px;}
.reg .form-group{margin-bottom: 20px;}
.reg .form-horizontal .control-label{padding-top: 10px;}
.reg .form-control{height: 40px;line-height: 40px;}
.reg .form-group .form_tips{line-height: 40px;color: #93999f;height: 40px;display: block;}
.reg .form-group .form_tips:before{width: 16px;height: 16px;display: inline-block;content: '';background: url(../img/tips_icon.png) no-repeat;background-size: cover;vertical-align: middle;margin-right: 5px;}
.reg .checkbox a{color: #505050;text-decoration: none;}
.reg .sub_btn{padding: 8px 30px;}
.reg .log_type a{width: 28px;height: 28px;display: inline-block;border-radius: 16px;margin: 5px;transition: .5s;}
.reg .log_type a:nth-child(1){background:url(../img/qq_icon.png) no-repeat;background-size: cover;}
.reg .log_type a:nth-child(2){background:url(../img/weixin_icon.png) no-repeat;background-size: cover;}
.reg .log_type a:nth-child(3){background:url(../img/sina_icon.png) no-repeat;background-size: cover;}
.reg .log_type a:nth-child(1):hover{background:url(../img/qq_hover_icon.png) no-repeat;background-size: cover;}
.reg .log_type a:nth-child(2):hover{background:url(../img/weixin_hover_icon.png) no-repeat;background-size: cover;}
.reg .log_type a:nth-child(3):hover{background:url(../img/sina_hover_icon.png) no-repeat;background-size: cover;}
/*第五种卡片形式*/
.citem3{height: 242px;background: #fff;padding: 20px 5px;box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);margin-bottom: 20px;}
.citem3 .item_img{display: block;width: 360px;height: 202px;}
.citem3 .item_img img{width: 100%;height: 100%;}
.citem3 .item_tt a{line-height: 32px;color: #07111b;font-size: 16px;font-weight: 700;transition: 0.2s;}
.citem3 .item_tt a:hover{color:#f4645f;text-decoration: none;}
.citem3 .item_tt .tag{display: inline-block;line-height:20px;padding: 0px 6px;background: #f4645f;color: #fff;font-size: 12px;font-weight: 400;margin-right: 10px;border-radius: 2px;position: relative;}
.citem3 .item_tt .tag .arrow{position: absolute;top:4px;right:-12px;width: 0;height: 0;border:6px solid transparent;border-left: 6px solid #f4645f;}
.citem3 .item_info{line-height: 40px;}
.citem3 .item_info span{color: #93999f;line-height: 20px;font-size: 12px;margin-right: 10px;}
.citem3 .item_desc{line-height: 28px;}